*
{
    margin: 0;
    padding: 0;
}
#background_image
{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    z-index: -1;
}
#container
{
    height: 100vh;
    width: 52vw;
    margin: auto;
}
#header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logo
{
    margin-top: 30px;
}
#menu-icon
{   
    position: absolute ;
    z-index: -1;
    width: 1000px;
}
#navigation
{
    display: flex;
    justify-content: space-between;
}
#nav-links
{
    margin-top: 9px;
    margin-left: 10px;
    width: 75%;
    display: flex;
    align-items: center;
}
#nav-links ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
#nav-links li
{
    margin-left: 20px;
    margin-right: 50px;
}   
#search-bar
{
    margin-top: 9px;
    width: 25%;
    display: flex;
    flex-direction: row;
}
#search-icon
{
    z-index: -1;
    margin-right: -300px;
    position: relative;
    margin-left: -70px;
    
}
#search-bar table
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -12px;
}
#search-bar input
{
    width: 242px;
    padding: 4px;
    border: none;
    border-radius: 5px;
}
#search-bar button
{
    padding: 4px 8px;
    border: none;
    border-radius: 5px;
    background-color:grey;
    color:aliceblue;
}
#content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content-top
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#content-top-image
{
    margin-right: -490px;
}
