*
{
    margin: 0;
    padding: 0;
}
#background_image
{
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    z-index: -1;
}
#container
{
    height: 100vh;
    width: 50vw;
    margin: auto;
}
#header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#menu-icon
{   
    position: absolute ;
    z-index: -1;
}
#navigation
{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
#nav-links
{
    display: flex;
}
#nav-links ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
#search-bar
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}